
 @import "tailwindcss";
 @plugin '@tailwindcss/typography';
 
 @font-face {
	font-family: 'DepartureMono';
	src: url('/fonts/DepartureMono-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
  }

  @theme {
	--font-sans: 'DepartureMono', 'sans-serif';
	--font-mono: 'Geist Mono Variable', 'monospace';
  }